<table align="left" width=100%>
    <tr>
        <td width="15%">
            <img src="exercise.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=10px>
                  <b> Practice Exercise</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Write a program to print the numbers 30 and 50 from a numpy array = [10,20,30,40,50] 
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 2. What will be the output of the following code?
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                   a = np.array([1,2,3,5,8])
                                   b = np.array([0,3,4,2,1])
                                   c = a+b
                                   c = c*a
                                   print(c[2])

**Options:**<br>A. 7<br>B. 12<br>C. 28<br>D. 21

In [3]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 3. Create a dataframe using the given dictionary and replace the non-numeric values with 0
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**
    
dictionary = {'values':['500','1111','A100','300','453B','450','C300']}

Hint: Here, the non-numeric values are A100, 453B and C300

In [4]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Plot a vertically stacked bar plot using the given data
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**

The data contains the sale price of three products on two different e-commerce websites<br>

data = {Products : ['Prod1', 'Prod2', 'Prod3'],
    Site1 : [10000, 12000, 14000],
       Site2 : [7000, 8500, 12000]}

In [5]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Which of the following function stacks 1D arrays as columns into a 2D array?
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Which of the following statement is correct?                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>A. Series act in a way similar to that of an array<br>B. NaN is the standard missing data marker used in pandas<br>C. Both of the above<br>D. None of the above

In [7]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Change the first character of each word to uppercase for every word of a series
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the series given below: (or create your series of words)**
    
word_series = (['how', 'to', 'run', 'python', 'code'])

In [8]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to print the subjects for which the marks are between 7 and 9 (inclusive) in the given dataframe 
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Subject</th>
 <th>Marks</th>
 </tr>
 <tr>
 <td>Maths</td>
 <td>7.4</td>
 </tr>
 <tr>
 <td>Physics</td>
 <td>8.5</td>
 </tr>
 <tr>
 <td>Chemistry</td>
 <td>6.9</td>
 </tr>
 <tr>
 <td>Biology</td>
 <td>9.8</td>
 </tr>
 <tr>
 <td>Geology</td>
 <td>8.2</td>
 </tr>
    
</table>

In [9]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write code to create an array of first 10 positive integers
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Which of the following data structures are available in python?
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>
A. Python dict<br>
B. A ndarray<br>
C. Scalar value<br>
D. All of the above

**Answer: D**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 11. Write a program to find numbers between 10 to 20 from a given array
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

list1 = [12,14,20,16,57,78,19,75,24,13,17,25,84,78,12]

In [11]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 12. What will be the output of the following code?
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

 A = np.array([[5,4,3,2,1],[5,7,5]])
                                    print(A.ndim)

**Options:**<br>A. 0<br>B. 1<br>C. 3<br>D. 2

In [12]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 13. Write a program to plot a scatter plot from the given data (using seaborn)
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the data given below:**

Product = ['A', 'B', 'C', 'D', 'E', 'F', 'G'] 

Cost = [1,3,8,5,7,2,6]

In [13]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Plot a horizontal bar plot using the given data 
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Marks_data = {'Student_name' : ["A", "B", "C", "D", "E", "F"],
              'Marks' : [9.4, 7.5, 5.1, 2.8, 1.5, 4]}

In [14]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15.  If you have a numpy array, in variable temperature, how would you access the data item at the 4th column, 3rd row?
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**
    
A. temperature[3,3]<br>
B. temperature(2,3)<br>
C. temperature[2,4]<br>
D. temperature[2,3]

In [15]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Which of the following input can be accepted by a pandas dataframe?                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>A. Structured ndarray<br>B. Series<br>C. Dataframe<br>D. All of the above

In [16]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Calculate the number of characters in each word in a series
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the series given below: (or create your series of words)**
    
word_series = (['how', 'to', 'run', 'python', 'code'])

In [17]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a program to sort the dataframe by marks (in ascending order)
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Subject</th>
 <th>Marks</th>
 </tr>
 <tr>
 <td>Maths</td>
 <td>89</td>
 </tr>
 <tr>
 <td>Physics</td>
 <td>90</td>
 </tr>
 <tr>
 <td>Chemistry</td>
 <td>72</td>
 </tr>
 <tr>
 <td>English</td>
 <td>84</td>
 </tr>
    
</table>

In [18]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19.  Create a 3×3 numpy array of all 'False' entries
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. All pandas data structures are `_____` mutable but not always `_____` mutable.
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>
A. size, value<br>
B. semantic, size<br>
C. value, size<br>
D. none of the above

In [20]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 21. Write a program to access elements from the 3x3 matrix<br>
                        a. Print the complete matrix<br>
                        b. Print the 2nd row<br>
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the matrix given below:**
    
m1 = [[5,7,11],[-4,0,9],[2,-3,8]]

**a. Print the complete matrix**

In [21]:
# type your code here

**b. Print the 2nd row**

In [22]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 22. Choose the correct command to install the numpy library in jupyter
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>A. install numpy<br>B. !pip install numpy python<br>C. !pip install numpy<br>D. pip install python numpy

In [23]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 23. Load the iris dataset from seaborn library and plot sepal length of different species
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [24]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>24. Load the tips dataset from seaborn library and plot the distribution of 'tip' variable using plotly express
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [25]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>25. Choose the correct syntax to convert the numpy array to the list
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**

A. list[array]<br>
B. list.array<br>
C. list(array)<br>
D. None of the above

In [26]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>26. Series is a one-dimensional labeled array capable of holding any data type               </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>A. False<br>B. True

In [27]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>27. Write a program to swap the 2nd and 3rd row in a dataframe
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Id</th>
 <th>Name</th>
 <th>Age</th>
 <th>Gender</th>
 </tr>
 <tr>
 <td>1</td>
 <td>A</td>
 <td>47</td>
 <td>F </td>
 </tr>
 <tr>
 <td>2</td>
 <td>B</td>
 <td>38</td>
 <td>F</td>
 </tr>
 <tr>
 <td>3</td>
 <td>C</td>
 <td>47</td>
 <td>M</td>
 </tr>
 <tr>
 <td>4</td>
 <td>D</td>
 <td>41</td>
 <td>F</td>
 </tr>
    
</table>

In [28]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>28. Write a program to replace M and F in Gender variable with 0 and 1
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Id</th>
 <th>Name</th>
 <th>Age</th>
 <th>Gender</th>
 </tr>
 <tr>
 <td>1</td>
 <td>A</td>
 <td>47</td>
 <td>F </td>
 </tr>
 <tr>
 <td>2</td>
 <td>B</td>
 <td>38</td>
 <td>F</td>
 </tr>
 <tr>
 <td>3</td>
 <td>C</td>
 <td>47</td>
 <td>M</td>
 </tr>
 <tr>
 <td>4</td>
 <td>D</td>
 <td>41</td>
 <td>F</td>
 </tr>
    
</table>

In [29]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>29. Extract all the odd numbers from a given array
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**
    
num = ([3, 4, 5, 6, 7, 8, 9])

In [30]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>30. Load the iris dataset from seaborb library and plot a heatmap of correlation matrix
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [31]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 31. Write a program to check numbers greater than or equal to 3 from below array</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

array1 = [0,9,6,3,2,8,6,1]

In [32]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 32. Write a program to transpose the given array
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**
    
M = [[4,-6,0],[1,5,6],[7,4,3]]

In [33]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 33. Plot a swarmplot for different species vs petal length using iris dataset
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [34]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>34. Read the tips dataset and plot the 'total_bill' along with the number of customers ('size')
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [35]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>35. Which of the following function counts the number of items in a numpy array?
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**

A. size()<br>
B. count()<br>
C. counts()<br>
D. shape()

In [36]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>36. Choose the function in the pandas library that allows you to manipulate data and derive new variables?                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>A. read_csv<br>B. pivot<br>C. apply<br>D. merge

In [37]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>37. Write a code to filter every 3rd row in a dataframe
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below data frame:** 
    
sales = {'Months': ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec'],
'Sales': [22000,27000,25000,29000,35000,67000,78000,67000,56000,56000,89000,60000],
'Seasons': ['Winter','Winter','Spring','Spring','Spring','Summer','Summer','Summer','Fall','Fall','Fall','Winter']}

In [38]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>38. Write a program to delete a column 'Age' from the given dataframe
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Id</th>
 <th>Name</th>
 <th>Age</th>
 </tr>
 <tr>
 <td>1</td>
 <td>A</td>
 <td>47</td>
 </tr>
 <tr>
 <td>2</td>
 <td>B</td>
 <td>35</td>
 </tr>
 <tr>
 <td>3</td>
 <td>C</td>
 <td>48</td>
 </tr>
 <tr>
 <td>4</td>
 <td>D</td>
 <td>51</td>
 </tr>
    
</table>

In [39]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>39. Convert a 1D array to a 2D array containing 2 rows
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**
    
one_dim = ([31, 25, 46, 75, 38, 29])

In [40]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 40. Find the average cost of each variety of fruit available in the three different shops              </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the data given below:**
    
[[10, 20, 30], [17, 14, 21], [25, 15, 12]],
  columns=['Apple', 'Orange', 'Banana'],
  index=['Shop1', 'Shop2', 'Shop3']

In [41]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 41. Write a program to check if the two arrays are the same or not                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**

            array1 = [1,2,3,4]
            array2 = [1,2,3,4]

In [42]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 42. Write a program to create a pandas series from a list
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

data = ['Python','R','Machine Learning','Deep Learning','Data Science']

In [43]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 43. Write a program to display the first and last five rows of the mpg dataset
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Hint:** mpg dataset can be accessed through seaborn library

In [44]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>44. Replace season “Spring” with “Winter” in the below data 
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below data frame:** 
    
sales = {'Months': ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec'],
'Sales': [22000,27000,25000,29000,35000,67000,78000,67000,56000,56000,89000,60000],
'Seasons': ['Winter','Winter','Spring','Spring','Spring','Summer','Summer','Summer','Fall','Fall','Fall','Winter']}

In [45]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>45. What will be the output of the following code?
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                    array1 = np.array([1,2,4,6,8])
                                    array1 = array1 + 1
                                    print (array1[3])

**Options:**

A. 6<br>
B. 4<br>
C. 5<br>
D. 7

In [46]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>46. Write a program to create a series of first 5 numbers and their squares using a dictionary                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [47]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>47. The dataframe contains a column 'Name'; replace the column name to 'Employee_name' 
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Id</th>
 <th>Name</th>
 <th>Age</th>
 <th>Gender</th>
 </tr>
 <tr>
 <td>1</td>
 <td>A</td>
 <td>47</td>
 <td>F </td>
 </tr>
 <tr>
 <td>2</td>
 <td>B</td>
 <td>38</td>
 <td>F</td>
 </tr>
 <tr>
 <td>3</td>
 <td>C</td>
 <td>47</td>
 <td>M</td>
 </tr>
 <tr>
 <td>4</td>
 <td>D</td>
 <td>41</td>
 <td>F</td>
 </tr>
    
</table>

In [48]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>48. Load the 'flights' dataset and retrieve the variable names 
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [49]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>49. Get all values between 6 and 12 from a given array
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**
    
array1 = ([2, 6, 1, 9, 10, 3, 27,4,5,11,7])

In [50]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>50. Write a program to print the odd integers in reverse order between 50 to 100 using a function of numpy                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [51]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 51. Perform given arithmetic operations on the numpy arrays:<br>
                        a. Addition<br>
                        b. Subtraction<br>
                        c. Multiplication<br>
                        d. Division
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the arrays given below:**

array1 = [[1,2,3],[4,5,6],[7,8,9]]

array2 = [10,10,10]

**a. Addition**

In [52]:
# type your code here

**b. Subtraction**

In [53]:
# type your code here

**c. Multiplication**

In [54]:
# type your code here

**d. Division**

In [55]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 52. Write a program to create dataframe from a list of lists
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
data= [['Maths',89], ['Physics',90], ['Chemistry',70], ['English',80]]

In [56]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 53. Read the tips dataset and plot the distribution of total bill
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [57]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>54. Compute skewness for each variable present in the given dataframe
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below data:**
    
df_val = {'sub1':(100,240,320,410,150,360,470),
          'sub2': (120,130,440,340,450,260,370),
          'sub3': (130,320,430,550,450,260,680)}

In [58]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>55. What will be the output of the following code?
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                    x = np.array([[1,5,-4,2],[0,1,8,7]])
                                    y = np.zeros((2,4), dtype=np.int16)
                                    z = np.ones((2,4), dtype=np.int16)
                                    w = x - y + 2*z
                                    print (w[1,3])

**Options:**

A. 7<br>
B. 9<br>
C. 12<br>
D. 2

In [59]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>56. Write a code to get the following output                 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

   <img src="Sine.PNG">

From the above figure, it can be seen that the image resembles the graph of the Sine curve. Thus, we have to write a code to get the graph of the sine function

In [60]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>57. Import the 'titanic' dataset available in the seaborn library and extract the first two columns in the dataframe
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [61]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>58. Choose the correct code to create a 5x5 identity matrix
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br> 
A. identity(5)<br>
B. np.array([1,0,0,0,0],[0,1,0,0,0],[0,0,1,0,0],[0,0,0,1,0],[0,0,0,0,1])<br>
C. np.eye(5)<br>
D. All of the above

In [62]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>59. Reverse the rows of the given 2D array
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below: (or create your own array)**
    
array = ([[ 8,  9, 10, 11],
       [ 4,  5,  6,  7],
       [ 0,  1,  2,  3]])

In [63]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 60. Choose the correct code to generate the same random numbers for each iteration
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**

A. np.set.random()<br>
B. np.random.seed()<br>
C. set.seed()<br>
D. None of the above

In [64]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 61. Write a program to extract even numbers from an array    
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**
    
numbers = [41,8,5,75,96,12,5,3,0,4,55,86,45,1]

In [65]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 62. Write a program to create an empty dataframe with three columns
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [66]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 63. Plot the histogram with 10 bars of the given data
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

data = [1,1,2,3,3,5,7,8,9,10,10,11,11,13,13,15,16,17,18,18,18,19,20,21,21,23,24,24,25,25,25,25,26,26,26,27,27,27,27,27,
29,30,30,31,33,34,34,34,35,36,36,37,37,38,38,39,40,41,41,42,43,44,45,45,46,47,48,48,49,50,51,52,53,54,55,55,56,
       57,58,60,61,63,64,65,66,68,70,71,72,74,75,77,81,83,84,87,89,90,90,91]

In [67]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>64. Stack a data frame with a single level column axis
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
    
 <img src="table.PNG">

In [68]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>65. What will be the output of the following code?
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                a = np.array([[1, 1, 0], [1, 0, 1]])
                                a += 5
                                b = a + 5
                                print (a[0,1] + b[1,2])

**Options:**

A. 5<br>
B. 7<br>
C. 21<br>
D. 17

In [69]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>66. Combine two series to form a dataframe              </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**The dataframe should contain 1st column as integers from 1 to 26 and the second column as A to Z English alphabets. First, create both the columns as series and then create a dataframe**

In [70]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>67. Get the datatype of each variable in the given dataframe
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below data frame:**

sales = {'Months': ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec'], 'Sales': [22000,27000,25000,29000,35000,67000,78000,67000,56000,56000,89000,60000], 'Seasons': ['Winter','Winter','Spring','Spring','Spring','Summer','Summer','Summer','Fall','Fall','Fall','Winter']}

In [71]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>68. Write a program to create a histogram using given data
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

Age = [34,56,43,22,2,58,89,78,67,56,65,43,23]

In [72]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>69. Print 10 random numbers only upto 3 decimal places
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [73]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 70. Create a series of dates from 1st December 2019 to 31st December 2019
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [74]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 71. Write a program to split the given array into 3 sub-arrays  
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**
    
A = [7,8,5,4,9,6,3,8,1,5,1,12]

In [75]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 72. The dataframe containing employees' data is given below. Write code to add the column containing working cities of each employee
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Id</th>
 <th>Age</th>
 <th>Gender</th>
 </tr>
 <tr>
 <td>1</td>
 <td>47</td>
 <td>F </td>
 </tr>
 <tr>
 <td>2</td>
 <td>38</td>
 <td>F</td>
 </tr>
 <tr>
 <td>3</td>
 <td>29</td>
 <td>M</td>
 </tr>
 <tr>
 <td>4</td>
 <td>41</td>
 <td>F</td>
 </tr>
 <tr>
 <td>5</td>
 <td>33</td>
 <td>M</td>
 </tr>
</table>

Add the column: [City: 'Pune', 'Mumbai', 'Banglore', 'Mumbai', 'Delhi']

In [76]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 73. Plot a pie plot to display the population percentage of different cities
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the data given below:**
    
City = ['Pune', 'Mumbai', 'Delhi', 'Banglore', 'Chennai']

Popularion (in lacs) = [11.69, 16, 13.94, 17.79, 9.68]

In [77]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>74. Which of the following is contained in the numpy library?
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**

A. Fourier transform<br>
B. Tools for integrating C/C++ and Fortran code<br>
C. n-dimensional array object <br>
D. All of the above<br>

In [78]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>75. What will be the output of the following code?
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                        a = np.array([1,2,3,4,5])
                                        b = np.arange(0,10,2)
                                        c = a + b
                                        print (c[3])

**Options:**

A. 13<br>
B. 11<br>
C. 12<br>
D. 10

In [79]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>76. Write code to remove items from series1 that are present in series2 and print the updated series1                 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the series given below:**
    
series1 = ([11, 12, 13, 14, 15])<br>
series2 = ([14, 15, 16, 17, 18])

In [80]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>77. Load the iris dataset and get the summary of the basic information about the data
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [81]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>78. Plot a scatter plot using given dataframe
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Age</th>
 <th>Claim_amt</th>
 </tr>
 <tr>
 <td>31</td>
 <td>100</td>
 </tr>
 <tr>
 <td>23</td>
 <td>250</td>
 </tr>
 <tr>
 <td>30</td>
 <td>380</td>
 </tr>
 <tr>
 <td>45</td>
 <td>400</td>
 </tr>
 <tr>
 <td>59</td>
 <td>450</td>
 </tr>
 <tr>
 <td>26</td>
 <td>560</td>
 </tr>
 <tr>
 <td>47</td>
 <td>750</td>
 </tr>
 <tr>
 <td>61</td>
 <td>830</td>
 </tr>
 
</table>

In [82]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>79. Load the iris dataset and find the mean and median of variable 'Sepal Length'
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [83]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 80. Retrieve the capital of 'france' from the given dataframe
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**

europe1 = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

In [84]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 81. Create an array containing cubes of the elements in the original array
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**
    
values = [1,2,5,6,3,4]

In [85]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 82. Write a code to check the duplicates in a dataframe
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below: (or create your own dataframe)**
    
<table>
 <tr>
 <th>Id</th>
 <th>Age</th>
 <th>Gender</th>
 </tr>
 <tr>
 <td>1</td>
 <td>47</td>
 <td>F </td>
 </tr>
 <tr>
 <td>2</td>
 <td>38</td>
 <td>F</td>
 </tr>
 <tr>
 <td>1</td>
 <td>47</td>
 <td>F</td>
 </tr>
 <tr>
 <td>4</td>
 <td>41</td>
 <td>F</td>
 </tr>
 <tr>
 <td>5</td>
 <td>33</td>
 <td>M</td>
 </tr>
    
</table>

In [86]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 83. Load the titanic dataset and plot the distribution of male and female based on their age
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [87]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>84. Select a method which returns the modified array of the passed array 
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**

A. resize<br>
B. reshape<br>
C. None of the above <br>
D. Both A and B<br>

In [88]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>85. What will be the output of the following code?
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                    arr = np.array([[1, 7], [4, 3], [9, 2]])
                                    print (arr[-2, 1:])

**Options:**

A. [9,2]<br>
B. [3]<br>
C. [4,3]<br>
D. [9]

In [89]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>86. Create a series of 30 random numbers and transform it into a dataframe containing six columns and five rows                </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [90]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>87. Print the names of the datasets available in the seaborn library
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [91]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>88. Plot a pie plot using given data
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Subject</th>
 <th>Marks</th>
 </tr>
 <tr>
 <td>Maths</td>
 <td>89</td>
 </tr>
 <tr>
 <td>Physics</td>
 <td>90</td>
 </tr>
 <tr>
 <td>Chemistry</td>
 <td>72</td>
 </tr>
 <tr>
 <td>English</td>
 <td>84</td>
 </tr>
    
</table>

In [92]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>89. Determine the skewness of the given data
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the data given below:**

data = [4,2,8,6,7,0,10]

In [93]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>90. Choose the correct option to load the CSV type file using pandas
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**<br>
A. pd.load_csv()<br>
B. pd.csv()<br>
C. pd.read_csv()<br>
D. readcsv()

In [94]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 91. Write a program to get the reciprocal of elements in the array
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**
    
numbers = [4,1.5,2,3,4,2.4]

In [95]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 92. Write a program to map the external values to the dataframe values 
                      </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Id</th>
 <th>Name</th>
 <th>Age</th>
 <th>Gender</th>
 </tr>
 <tr>
 <td>1</td>
 <td>A</td>
 <td>47</td>
 <td>F </td>
 </tr>
 <tr>
 <td>2</td>
 <td>B</td>
 <td>38</td>
 <td>F</td>
 </tr>
 <tr>
 <td>3</td>
 <td>C</td>
 <td>47</td>
 <td>M</td>
 </tr>
 <tr>
 <td>4</td>
 <td>D</td>
 <td>41</td>
 <td>F</td>
 </tr>
    
</table>

Map the city_id to the above dataframe<br>
city_id={
      2:'Mumbai',
      3:'Patna',
      1:'Pune',
      4:'Shimla'
      }

In [96]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>93. Plot the tourists count in various countries using the data given below. Also, add the axes labels and graph title
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Country</th>
 <th>Number of Tourists in 2018 (in thousands)</th>
 </tr>
 <tr>
 <td>India</td>
 <td>24.17</td>
 </tr>
 <tr>
 <td>Japan</td>
 <td>18.45</td>
 </tr>
 <tr>
 <td>China</td>
 <td>16</td>
 </tr>
 <tr>
 <td>Sri Lanka</td>
 <td>19.8</td>
 </tr>
    
</table>

In [97]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>94. NumPy provides which of the following function that returns arrays instead of lists 
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Options:**

A. arrange<br>
B. aspace<br>
C. arange <br>
D. range<br>

In [98]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>95. What will be the output of the following code?
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                    Age = np.array([45,67,56,71,54,62,56])
                                    print(Age > 65)

**Options:**

A. Boolean <br>
B. Numerical<br>

In [99]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>96. Write a program to find the position of numbers that are multiples of 4 from the series
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [100]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>97. Load the 'mpg' dataset. Print the first 10 observations and also check the dimension of the dataset
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [101]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>98. Plot a bar chart for the marks obtained by each student
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Name</th>
 <th>Maths</th>
 <th>Science</th>
 </tr>
 <tr>
 <td>A</td>
 <td>68</td>
 <td>81</td>
 </tr>
 <tr>
 <td>B</td>
 <td>90</td>
 <td>79</td>
 </tr>
 <tr>
 <td>C</td>
 <td>72</td>
 <td>80</td>
 </tr>
    
</table>

In [102]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>99. Find the middle value of the variable 'Marks' in the given dataframe
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Subject</th>
 <th>Marks</th>
 </tr>
 <tr>
 <td>Maths</td>
 <td>89</td>
 </tr>
 <tr>
 <td>Physics</td>
 <td>90</td>
 </tr>
 <tr>
 <td>Chemistry</td>
 <td>72</td>
 </tr>
 <tr>
 <td>English</td>
 <td>84</td>
 </tr>
    
</table>

In [103]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>100. Determine the type of kurtosis in the data given
                     </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the data given below:**
    
numbers = [54,72,58,35,56,29,61,39,40,96,67,84]

In [104]:
# type your code here